In [3]:
#creating an empty dataframe
import pandas as pd 
df = pd.DataFrame() 

print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
#creating dataframe form lists
import pandas as pd 

#list 
list = ['a', 'e', 'i', 'o', 'u']

#create from list 
df = pd.DataFrame(list) 

print(df)

   0
0  a
1  e
2  i
3  o
4  u

In [5]:
#create dataframe from list of lists 
import pandas as pd 

#list of lists
list = [['a', 10], ['e', 12], ['i', 14], ['o', 16], ['u', 18]] 

#create dataframe, naming columns as vowels and occurence 
df = pd.DataFrame(list, columns=['Vowel', 'Occurence']) 

print(df)

  Vowel  Occurence
0     a         10
1     e         12
2     i         14
3     o         16
4     u         18

In [6]:
# Create a dataframe from a list of lists and set the data type
import pandas as pd

#list of lists
list = [['Netflix', 4.8], ['HBO', 4.76], ['Peacock', 3.5], ['Max', 4.5], ['AMC', 3]] 

#create dataframe, naming columns as channels and ratings
df = pd.DataFrame(list, columns=['Channel', 'Ratings'], dtype = float) 

print(df)

   Channel  Ratings
0  Netflix     4.80
1      HBO     4.76
2  Peacock     3.50
3      Max     4.50
4      AMC     3.00

In [7]:
#create dataframe from dictionary without specified indices 
import pandas as pd 

#dictionary 
aDict = { 'Ministers' :['Texas', 'Minnesota', 'Washington', 'Oregon', 'Atlanta'], 'Age' : [30, 40, 50, 60, 70]}

df = pd.DataFrame(aDict) 
print(df)

    Ministers  Age
0       Texas   30
1   Minnesota   40
2  Washington   50
3      Oregon   60
4     Atlanta   70

In [10]:
# Create a dataframe from a dictionary with specified indices
import pandas as pd 

#dictionary 
aDict = { 'Ministers' :['Texas', 'Minnesota', 'Washington', 'Oregon', 'Atlanta'], 'Age' : [30, 40, 50, 60, 70]}

df = pd.DataFrame(aDict, index = ['Rank 1', 'Rank 2', 'Rank 3', 'Rank 4', 'Rank 5']) 
print(df)

         Ministers  Age
Rank 1       Texas   30
Rank 2   Minnesota   40
Rank 3  Washington   50
Rank 4      Oregon   60
Rank 5     Atlanta   70

In [13]:
#create a dataframe from a dictionary of series 
import pandas as pd 

#declare a dictionary of series named 'first' and 'second' 
aDictOfSeries  = { 'first' : pd.Series([10, 30, 50], index = ['W', 'X', 'Y']),
                  'second' : pd.Series([10, 30, 50, 60], index = ['W', 'X', 'Y', 'Z'])} 

df = pd.DataFrame(aDictOfSeries) 
print(df)

   first  second
W   10.0      10
X   30.0      30
Y   50.0      50
Z    NaN      60

In [16]:
# Access a dataframe columns

import pandas as pd 

#declare a dictionary of series named 'first' and 'second' 
aDictOfSeries  = { 'first' : pd.Series([10, 30, 50], index = ['W', 'X', 'Y']),
                  'second' : pd.Series([10, 30, 50, 60], index = ['W', 'X', 'Y', 'Z'])} 

df = pd.DataFrame(aDictOfSeries)  
# Access the column 'first' and print it out 
print(df['first'])

#Access the column 'second' and print it out 
print(df['second'])

W    10.0
X    30.0
Y    50.0
Z     NaN
Name: first, dtype: float64
W    10
X    30
Y    50
Z    60
Name: second, dtype: int64

In [21]:
# Add columns into a dataframe
import pandas as pd

#declare a dictionary of series named 'first' and 'second' 
aDictOfSeries  = { 'first' : pd.Series([10, 30, 50], index = ['W', 'X', 'Y']),
                  'second' : pd.Series([10, 30, 50, 60], index = ['W', 'X', 'Y', 'Z'])} 

df = pd.DataFrame(aDictOfSeries)  

# Adding a new column to an existing DataFrame object with column label by passing new series
# Adding a new series into the dataframe as a new column: 'third'
# First, creating a new series
# Then, assign the new series into the new column

df['third']=pd.Series([100, 200, 300],index=['Y', 'Z', 'A'])
print(df)

# Adding a new column using the existing columns in Data Frame
print('\n Add a new Column ..')

df['fourth'] = df['first'] + df['second']
df['fifth'] = df['first'] / df['fourth']
print('\n')
print(df)

   first  second  third
W   10.0      10    NaN
X   30.0      30    NaN
Y   50.0      50  100.0
Z    NaN      60  200.0

 Add a new Column ..


   first  second  third  fourth  fifth
W   10.0      10    NaN    20.0    0.5
X   30.0      30    NaN    60.0    0.5
Y   50.0      50  100.0   100.0    0.5
Z    NaN      60  200.0     NaN    NaN

In [22]:
# Delete a column using del function
import pandas as pd

# Declare a dictionary of 2 series named 'one' and 'two'
aDictOfSeries = {'one': pd.Series ([1, 2, 3], 
index = ['a', 'b', 'c']),'two': pd.Series([1, 2, 3, 4], 
index = ['a', 'b', 'c', 'd']), 'three': pd.Series([10,20,30],
index = ['a', 'b', 'c'])}

# Create a dataframe from this dictionary 
df = pd.DataFrame(aDictOfSeries)
print(df)
print('\n')

# using del function to delete/remove the first column
del(df['one'])
print(df) 

print('\n') 
# using pop function to delete another column " 'two'
# Deleting another column using pop function
df.pop('two')
print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN


   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN


   three
a   10.0
b   20.0
c   30.0
d    NaN

In [26]:
# Access rows of a dataframe using Loc function
# Loc is a row index

import pandas as pd

#declare a dictionary of series named 'first' and 'second' 
aDictOfSeries  = { 'first' : pd.Series([10, 30, 50], index = ['W', 'X', 'Y']),
                  'second' : pd.Series([10, 20, 30, 60], index = ['W', 'X', 'Y', 'Z'])} 

df = pd.DataFrame(aDictOfSeries)

# Access the row with index='X' and print the row
print(df.loc['X'])

first     30.0
second    20.0
Name: X, dtype: float64

In [33]:
# Access rows of a dataframe using iLoc (integer Location/row index) function

import pandas as pd

#declare a dictionary of series named 'first' and 'second' 
aDictOfSeries  = { 'first' : pd.Series([10, 30, 50], index = [1, 2, 3]),
                  'second' : pd.Series([10, 20, 30, 60], index = [1, 2, 3, 4])} 

df = pd.DataFrame(aDictOfSeries)

# Access the row with index= '2' and print the row 
print(df.iloc[2])

first     50.0
second    30.0
Name: 3, dtype: float64

In [34]:
# Access a group of rows using the ':' operator

import pandas as pd

#declare a dictionary of series named 'first' and 'second' 
aDictOfSeries  = { 'first' : pd.Series([10, 30, 50], index = [1, 2, 3]),
                  'second' : pd.Series([10, 20, 30, 60], index = [1, 2, 3, 4])} 

df = pd.DataFrame(aDictOfSeries)

# Access all the rows with indices 2, 3 and print them
print(df[2:4])

   first  second
3   50.0      30
4    NaN      60

In [38]:
# Remove rows from a dataframe using the drop() function

import pandas as pd

df = pd.DataFrame([[1, 2] , [3, 4]], columns = ['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a', 'b'])

df = df.append(df2)
print(df)

print('\n') 

# Drop rows with Label 0
df = df.drop(1)

print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8


   a  b
0  1  2
0  5  6

In [45]:
#load data into dataframe  
import pandas as pd 

df_flights = pd.read_csv ('C:/JP_NOTEBOOKS/Data/employee.csv')

df_flights.head(6)

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,6/12/2006,10/13/2012
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,7/19/2000,9/18/2010
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2/3/2015,2/3/2015
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,2/8/1982,5/25/1991
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,6/19/1989,10/22/1994
5,5,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,Active,11/26/1984,3/26/2005