In [3]:
t = ("tuples", "are", "immutable")
t[1]

'are'

In [4]:
t = ("my", "name", "is", "sabin", "joshi")
print(t[0])
print(t[-1])
print (t[-3])
print(len(t))

my
joshi
is
5

In [5]:
t = ("my", "name", "is", "sabin", "joshi")
print(t)

('my', 'name', 'is', 'sabin', 'joshi')

In [6]:
t = ([10, 20, 30, 40])
print(t)

[10, 20, 30, 40]

In [7]:
#empty tuple 
t = ()
print(t)

()

In [8]:
#tuple with integers 
t = (10, 30, 50, 70)
print(t)

(10, 30, 50, 70)

In [10]:
# tuple with mixed datatypes 
t = (10, 30, "50", 70.66)
print(t)

(10, 30, '50', 70.66)

In [11]:
#nested tuple
t = ((10, 30, 50, 70), (10, 30, "50", 70.66)) 
print(t)

((10, 30, 50, 70), (10, 30, '50', 70.66))

In [13]:
#only parenthesis isn't enough
t = (1)
print(type(t))

<class 'int'>

In [14]:
#need comma at the end 
t = (1, )
print(type(t))

<class 'tuple'>

In [15]:
#now parenthesis is optional 
t = 1, 
print(type(t))

<class 'tuple'>

In [16]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[0])

p

In [17]:
print(my_tuple[5])

t

In [18]:
n_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(n_tuple[0][3])

s

In [19]:
print(n_tuple[1][1])

4

In [20]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
len(my_tuple)

6

In [21]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't')
print(my_tuple[-1])

t

In [22]:
print(my_tuple[-6])

p

In [24]:
my_tuple = ('p', 'e', 'r', 'm', 'i', 't') 
print (my_tuple[6])

IndexError: tuple index out of range

In [28]:
#access slice of tuples 
# elements 2nd to 4th
my_tuple =('p','r','o','g','r','a','m','i','z')
print(my_tuple[1:4])

# elements beginning to 2nd
print(my_tuple[:-7])

# elements 8th to end
# Output: ('i ', 'z')
print(my_tuple[7:])

# elements beginning to end
# Output: ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple[:])

('r', 'o', 'g')
('p', 'r')
('i', 'z')
('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [29]:
#tuples are immutable 
aTuple = ('Python', 'C', 'C++', 'Java', 'Scala')
aTuple[2] = 'Ruby'

TypeError: 'tuple' object does not support item assignment

In [30]:
my_tuple = (4, 2, 3, [6, 5])
# An item of mutable element (list) can be changed

my_tuple[3][0] = 9
print(my_tuple)

(4, 2, 3, [9, 5])

In [31]:
tuple_1 = (4, 2, 3, [6, 5])
print ("tuple_1: ", tuple_1)

# Reassign a new tuple to tuple1

my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
tuple_l = my_tuple
print("tuple_l after being reassinged: ", tuple_l)

tuple_1:  (4, 2, 3, [6, 5])
tuple_l after being reassinged:  ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

In [32]:
tuple_l = "Hello"
tuple_2 = tuple_1
# Both the tuples refer to the same object, i.e., the same id value
id(tuple_1), id(tuple_2)

(1525053485920, 1525053485920)

In [33]:
aTuple = "Python is the best scripting language."
del (aTuple)
# To show that the string has been deleted, let's print it
# we get an ERROR
print (sample_str)

NameError: name 'sample_str' is not defined

In [34]:
tuple1 = 'Hello', # comma to indicate this is a tuple; parentheses are optional
tuple2 = ' ',
tuple3 ='World!',

# using +
print('tuple1 + tuple2 + tuple3 = ', tuple1 + tuple2 + tuple3)

tuple1 + tuple2 + tuple3 =  ('Hello', ' ', 'World!')

In [35]:
Tuple1 = "Hello",
replicatedTuple = tuple1 * 3
print (replicatedTuple)

('Hello', 'Hello', 'Hello')

In [36]:
aTuple = (2, 4, 6, "This", "is", "a", "tuple")
print (2 in aTuple)
print ('a' in aTuple)
print ("This is" in aTuple)

True
True
False

In [37]:
Tuple1 = "Hello World!"
tuple2 = "hello world!"
print (tuple1 == tuple2)

False

In [38]:
#iteration 
tuple1 = ("This", "is", 1, "book")
for i in tuple1:
   print (i)

This
is
1
book

In [39]:
Tuple1 = ("This", "is", 1, "book")
for i in tuple1:
   print (i, end="")

Thisis1book

In [40]:
Tuple1 = ("This", "is", 1, "book")
for i in tuple1:
    print(i, end="\n")

This
is
1
book

In [ ]:
my_tuple = ('a', 'p', 'p', 'l', 'e',)
# Count
print(my_tuple.count('p'))